In [6]:
# IMPORT STATEMENTS
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [159]:
# CUSTOM FUNCTIONS
from cleanSet.cleanGeographic import cleanGeographic

In [155]:
#IMPORT CRUDE PRICES BY REGION
price = pd.read_excel('data-sources/geographic/crude-price-by-region.xls')
price

,Date,U.S. Crude Oil First Purchase Price (Dollars per Barrel),U.S. less Alaskan North Slope Crude Oil First Purchase Price (Dollars per Barrel),East Coast (PADD 1) Crude Oil First Purchase Price (Dollars per Barrel),Pennsylvania Crude Oil First Purchase Price (Dollars per Barrel),West Virginia Crude Oil First Purchase Price (Dollars per Barrel),Midwest (PADD 2) Crude Oil First Purchase Price (Dollars per Barrel),Illinois Crude Oil First Purchase Price (Dollars per Barrel),Indiana Crude Oil First Purchase Price (Dollars per Barrel),Kansas Crude Oil First Purchase Price (Dollars per Barrel),...,Federal Offshore U.S. Gulf Coast Crude Oil First Purchase Price (Dollars per Barrel),Rocky Mountain (PADD 4) Crude Oil First Purchase Price (Dollars per Barrel),Colorado Crude Oil First Purchase Price (Dollars per Barrel),Montana Crude Oil First Purchase Price (Dollars per Barrel),Utah Crude Oil First Purchase Price (Dollars per Barrel),Wyoming Crude Oil First Purchase Price (Dollars per Barrel),West Coast (PADD 5) Crude Oil First Purchase Price (Dollars per Barrel),Alaska North Slope First Purchase Price (Dollars per Barrel),California Crude Oil First Purchase Price (Dollars per Barrel),Federal Offshore California Crude Oil First Purchase Price (Dollars per Barrel)
0,2010-01-15,72.87,73.16,70.74,68.87,71.37,71.29,71.64,71.13,70.90,...,73.85,69.42,70.94,70.04,67.85,68.70,71.82,71.05,72.84,68.66
1,2010-02-15,72.74,73.12,68.49,66.36,68.27,70.36,70.07,69.94,69.36,...,76.38,68.39,69.93,69.70,65.55,67.73,71.12,70.30,72.26,67.91
2,2010-03-15,75.77,76.18,72.76,70.84,72.72,75.10,74.52,74.28,74.13,...,75.11,72.94,74.92,73.91,70.60,72.01,74.38,73.19,75.94,71.36
3,2010-04-15,78.80,79.37,76.69,74.01,78.12,77.72,77.92,77.59,77.58,...,79.06,75.41,78.37,75.83,73.09,74.15,76.53,75.06,78.35,73.50
4,2010-05-15,70.91,71.21,67.68,66.19,67.03,66.97,68.31,68.65,67.34,...,78.52,64.40,68.67,63.92,64.67,61.76,68.74,68.75,69.06,63.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2019-12-15,58.41,58.36,52.74,53.71,50.71,56.31,54.92,53.94,55.50,...,58.63,52.93,53.51,52.43,49.82,53.52,61.27,59.08,64.51,NaN
120,2020-01-15,56.86,56.88,52.18,51.33,51.36,54.31,55.74,55.94,53.68,...,57.52,51.01,51.78,49.99,49.02,51.07,59.20,56.49,63.03,NaN
121,2020-02-15,50.03,50.14,44.61,44.23,43.13,47.10,51.94,53.46,47.66,...,53.70,43.82,44.04,42.45,44.19,43.74,50.50,48.24,53.68,NaN
122,2020-03-15,31.80,31.63,25.36,24.12,24.62,28.28,27.30,27.13,26.48,...,38.06,24.62,23.95,23.69,29.17,24.11,33.21,34.68,31.47,NaN
123,2020-04-15,16.00,16.23,12.23,11.81,12.26,12.74,16.22,16.29,14.40,...,20.37,11.20,9.53,9.95,18.69,10.75,15.36,12.29,19.49,NaN

In [90]:
# GATHER FLIGHT PRICES
ny = pd.read_csv('data-sources/geographic/ny.csv', skiprows=1)
ny.drop(ny.tail(2).index, inplace=True)
ny.index = ny['Year']
ny = ny.T
ny.drop(index=['Year','U.S. Average (Current $)'], inplace=True)
ny.drop(index='New York City - Greater (Current $)', inplace=True)
ny.drop(index='New York JFK -  NY (Current $)', inplace=True)
ny.drop(index='New York LaGuardia -  NY (Current $)', inplace=True)
ny

Year,1995,1995,1995,1995,1996,1996,1996,1996,1997,1997,...,2017,2018,2018,2018,2018,2019,2019,2019,2019,2020
Quarter,1,2,3,4,1,2,3,4,1,2,...,4,1,2,3,4,1,2,3,4,1
U.S. Average (Inflation-Adjusted $),508.23,503.61,485.72,483.85,473.14,454.99,442.26,453.5,458.68,466.59,...,363.72,359.65,358.58,351.53,368.14,357.54,360.35,347.28,358.01,336.13
New York City - Greater (Inflation-Adjusted $),603.9,611.11,616.62,628.54,598.8,588.87,574.53,612.12,601.32,608.9,...,398.44,389.2,375.77,371.16,402.95,381.03,390.33,371.09,398.58,360.86
New York JFK - NY (Inflation-Adjusted $),622.77,628.23,613.28,621.82,605.19,613.19,584.07,602.97,584.88,591.23,...,426.13,412.64,389.66,384.62,420.08,392.8,405.75,397.12,429.92,388.19
New York LaGuardia - NY (Inflation-Adjusted $),569.72,570.22,590.39,624.13,603.99,570.18,558.48,587.53,588.92,588.85,...,345.45,332.63,333.57,327.71,359.49,334.74,337.85,322.86,355.72,323.66

In [94]:
ny['Quarter'] = ny.rename(columns={'Quarter': 'Quarter('}, inplace=True)

In [96]:
ny = ny.T
ny

Year,1995,1995,1995,1995,1996,1996,1996,1996,1997,1997,...,2017,2018,2018,2018,2018,2019,2019,2019,2019,2020
Quarter(,1,2,3,4,1,2,3,4,1,2,...,4,1,2,3,4,1,2,3,4,1
U.S. Average (Inflation-Adjusted $),508.23,503.61,485.72,483.85,473.14,454.99,442.26,453.5,458.68,466.59,...,363.72,359.65,358.58,351.53,368.14,357.54,360.35,347.28,358.01,336.13
New York City - Greater (Inflation-Adjusted $),603.9,611.11,616.62,628.54,598.8,588.87,574.53,612.12,601.32,608.9,...,398.44,389.2,375.77,371.16,402.95,381.03,390.33,371.09,398.58,360.86
New York JFK - NY (Inflation-Adjusted $),622.77,628.23,613.28,621.82,605.19,613.19,584.07,602.97,584.88,591.23,...,426.13,412.64,389.66,384.62,420.08,392.8,405.75,397.12,429.92,388.19
New York LaGuardia - NY (Inflation-Adjusted $),569.72,570.22,590.39,624.13,603.99,570.18,558.48,587.53,588.92,588.85,...,345.45,332.63,333.57,327.71,359.49,334.74,337.85,322.86,355.72,323.66
Quarter,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [98]:
ny['Location'] = ny.index.str.split('(').str[0]

In [99]:
ny

Year,1995,1995,1995,1995,1996,1996,1996,1996,1997,1997,...,2018,2018,2018,2018,2019,2019,2019,2019,2020,Location
Quarter(,1,2,3,4,1,2,3,4,1,2,...,1,2,3,4,1,2,3,4,1,Quarter
U.S. Average (Inflation-Adjusted $),508.23,503.61,485.72,483.85,473.14,454.99,442.26,453.5,458.68,466.59,...,359.65,358.58,351.53,368.14,357.54,360.35,347.28,358.01,336.13,U.S. Average
New York City - Greater (Inflation-Adjusted $),603.9,611.11,616.62,628.54,598.8,588.87,574.53,612.12,601.32,608.9,...,389.2,375.77,371.16,402.95,381.03,390.33,371.09,398.58,360.86,New York City - Greater
New York JFK - NY (Inflation-Adjusted $),622.77,628.23,613.28,621.82,605.19,613.19,584.07,602.97,584.88,591.23,...,412.64,389.66,384.62,420.08,392.8,405.75,397.12,429.92,388.19,New York JFK - NY
New York LaGuardia - NY (Inflation-Adjusted $),569.72,570.22,590.39,624.13,603.99,570.18,558.48,587.53,588.92,588.85,...,332.63,333.57,327.71,359.49,334.74,337.85,322.86,355.72,323.66,New York LaGuardia - NY
Quarter,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,Quarter

In [145]:
# GATHER FLIGHT PRICES
ny2 = pd.read_csv('data-sources/geographic/ny2.csv', skiprows=1)
ny2.drop(ny2.tail(2).index, inplace=True)
ny2.index = ny2['Year']
ny2 = ny2.T


ny2.drop(index=['Year','U.S. Average (Current $)','U.S. Average (Inflation-Adjusted $)',
              'Albany -  NY (Current $)','Buffalo -  NY (Current $)',
              'Rochester -  NY (Current $)'], inplace=True)
ny2

Year,1995,1995,1995,1995,1996,1996,1996,1996,1997,1997,...,2017,2018,2018,2018,2018,2019,2019,2019,2019,2020
Quarter,1,2,3,4,1,2,3,4,1,2,...,4,1,2,3,4,1,2,3,4,1
Albany - NY (Inflation-Adjusted $),644.2,648.82,688.41,643.07,654.64,662.49,696.67,686.49,645.78,654.78,...,413.13,407.87,419.04,402.52,379.77,392.5,393.68,394.07,367.26,0
Buffalo - NY (Inflation-Adjusted $),587.16,603.24,603.78,562.77,573.24,564.48,581.3,585.11,577.7,592.92,...,327.13,328.78,310.57,309.71,312.88,314.3,322.08,315.3,325.61,319.06
Rochester - NY (Inflation-Adjusted $),717.39,744.95,751.55,737.98,732.61,717.48,714.87,722,717.11,695.27,...,438.87,431.9,423.34,400.07,402.62,392.23,410.58,392.79,394.16,374.11

In [146]:
ny2 = ny2.T
ny2['Quarter'] = ny2.rename(columns={'Quarter': 'Quarter('}, inplace=True)
ny2 = ny2.T
ny2['Location'] = ny2.index.str.split('(').str[0]
ny2.drop(index='Quarter', inplace=True)
ny2

Year,1995,1995,1995,1995,1996,1996,1996,1996,1997,1997,...,2018,2018,2018,2018,2019,2019,2019,2019,2020,Location
Quarter(,1,2,3,4,1,2,3,4,1,2,...,1,2,3,4,1,2,3,4,1,Quarter
Albany - NY (Inflation-Adjusted $),644.2,648.82,688.41,643.07,654.64,662.49,696.67,686.49,645.78,654.78,...,407.87,419.04,402.52,379.77,392.5,393.68,394.07,367.26,0,Albany - NY
Buffalo - NY (Inflation-Adjusted $),587.16,603.24,603.78,562.77,573.24,564.48,581.3,585.11,577.7,592.92,...,328.78,310.57,309.71,312.88,314.3,322.08,315.3,325.61,319.06,Buffalo - NY
Rochester - NY (Inflation-Adjusted $),717.39,744.95,751.55,737.98,732.61,717.48,714.87,722,717.11,695.27,...,431.9,423.34,400.07,402.62,392.23,410.58,392.79,394.16,374.11,Rochester - NY

In [148]:
file = 'data-sources/geographic/ca.csv'
def cleanGeographic(file):
    df = pd.read_csv(file, skiprows=1)
    df.drop(df.tail(2).index, inplace=True)
    df.index = df['Year']
    df = df.T


    df.drop(index=[df.index[0], df.index[1], df.index[2],
                  df.index[3],df.index[5],
                  df.index[7]], inplace=True)
    df = df.T
    df['Quarter'] = df.rename(columns={'Quarter': 'Quarter('}, inplace=True)
    df = df.T
    df['Location'] = df.index.str.split('(').str[0]
    df.drop(index='Quarter', inplace=True)

    return df

In [147]:
cleanGeographic

Index(['Year', 'Quarter', 'U.S. Average (Current $)',
       'U.S. Average (Inflation-Adjusted $)', 'Long Beach -  CA (Current $)',
       'Long Beach -  CA (Inflation-Adjusted $)',
       'Los Angeles -  CA (Current $)',
       'Los Angeles -  CA (Inflation-Adjusted $)',
       'San Francisco -  CA (Current $)',
       'San Francisco -  CA (Inflation-Adjusted $)'],
      dtype='object')

In [160]:
file = 'data-sources/geographic/ca.csv'
cleanGeographic(file)

NameError: name 'pd' is not defined