In [1]:
# IMPORT STATEMENTS
import pandas as pd

In [53]:
# SAVE KAPRSAC JET FUEL PRICES IN A DATAFRAME
df_org = pd.read_csv("KARPSAC-jetfuelprices-2010to2020.csv", sep=";") # original data set
df = df_org.copy()

In [60]:
# PRELIMINARY STATS:
df.describe()

       U.S. Gulf Coast Kerosene-Type Jet Fuel Spot Price FOB in U.S. Dollars per Gallon
count                                        7626.000000
mean                                            1.407106
std                                             0.897850
min                                             0.282000
25%                                             0.581000
50%                                             1.199000
75%                                             2.007750
max                                             4.814000

In [62]:
# CLEAN UP DATA TO PERFORM GROUPBY ANALYSIS
df['YEAR'] = df['Date'].astype(str).str[0:4]
df = df[df['YEAR'].astype(int) >= 2010]
df['MONTH'] = df['Date'].astype(str).str[5:7]
df['DAY'] = df['Date'].astype(str).str[8:10]
del df['Date']

In [63]:
# SET INDEX TO DATE
df.set_index(['YEAR', 'MONTH', 'DAY'], inplace=True)

In [65]:
df = df.groupby(['YEAR', 'MONTH']).mean()