In [187]:
# IMPORT STATEMENTS
import pandas as pd
import matplotlib as plt

In [255]:
# SAVE KAPRSAC JET FUEL PRICES IN A DATAFRAME
df_org = pd.read_csv("KARPSAC-jetfuelprices-2010to2020.csv", sep=";") # original data set
df = df_org.copy()

In [99]:
# PRELIMINARY STATS:
df.describe()

       U.S. Gulf Coast Kerosene-Type Jet Fuel Spot Price FOB in U.S. Dollars per Gallon
count                                        7626.000000
mean                                            1.407106
std                                             0.897850
min                                             0.282000
25%                                             0.581000
50%                                             1.199000
75%                                             2.007750
max                                             4.814000

In [256]:
# CLEAN UP DATA TO PERFORM GROUPBY ANALYSIS
df['YEAR'] = df['Date'].astype(str).str[0:4]
df = df[df['YEAR'].astype(int) >= 2010] # filters only years from 2010 to 2020
df['MONTH'] = df['Date'].astype(str).str[5:7]
df['DAY'] = df['Date'].astype(str).str[8:10]
del df['Date']

In [257]:
#CHANGE NUMERICAL MONTH TO MONTHS
month_lookup = {'01': 'January', '02': 'February', '03': 'March', '04': 'April', '05': 'May',
                '06': 'June', '07': 'July', '08': 'August', '09': 'September', '10': 'October',
                '11': 'November','12': 'December'}

In [258]:
df['MONTH'] = df['MONTH'].apply(lambda x: month_lookup[x])

In [259]:
df['MONTH YEAR'] = df['MONTH'] + ' ' +  df['YEAR']
df.set_index('MONTH YEAR')

,U.S. Gulf Coast Kerosene-Type Jet Fuel Spot Price FOB in U.S. Dollars per Gallon,YEAR,MONTH,DAY
MONTH YEAR,,,,
August 2012,3.123,2012,August,07
August 2012,3.051,2012,August,05
August 2012,2.939,2012,August,01
July 2012,2.914,2012,July,30
July 2012,2.934,2012,July,15
...,...,...,...,...
September 2012,3.218,2012,September,05
August 2012,3.225,2012,August,26
August 2012,3.162,2012,August,19
August 2012,3.163,2012,August,16
August 2012,3.149,2012,August,13

In [260]:
# FIND MEAN OF THESE PRICES
jet_fuel = df.groupby(['MONTH YEAR']).mean()

In [204]:
# IMPORT BTS DOMESTICS DATA DEPARTURES PERFORMED
dom_flight = pd.read_csv('USCarrier_Traffic_DOM.csv', sep='","', engine='python', skiprows=1)
dom_flight.drop(dom_flight.tail(1).index,inplace=True) # drop last column

In [233]:
# RENAME COLUMNS
dom_flight.index.name = 'Period'
dom_flight.rename(columns={'Unit: (000)': 'Total'}, inplace=True)

In [280]:
# CLEANUP DATA
dom_flight['PERIOD'] = dom_flight.index
dom_flight['PERIOD'] = dom_flight['PERIOD'].astype(str).str[1:]
dom_flight.set_index('PERIOD')
dom_flight['Total'] = dom_flight['Total'].astype(str).str[:-1]

In [286]:
dom_flight.set_index('PERIOD', inplace=True)